{% extends 'base-back.html.twig' %}

{% block title %}Détails Évenements{% endblock %}

{% block body %}
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <strong>Evenement : </strong>
                    {{ evenement.nomEvent }}</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">

                <div> <p>
                        <strong> Nom Évenement : </strong>
                        {{ evenement.nomEvent }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Nombre Équipe : </strong>
                        {{ evenement.nbEq}}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Description Évenement : </strong>
                        {{ evenement.descriptionEvent }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Date Début Évenement : </strong>
                        {{ evenement.dateDebutEvent|date('Y-m-d') }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Date Fin Évenement : </strong>
                        {{ evenement.dateFinEvent|date('Y-m-d ') }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Prix : </strong>
                        {{ evenement.prix }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> État : </strong>
                        {{ evenement.etat }}
                    </p>
                </div><br>

                <div> <p>
                        <strong> Liste Équipe : </strong>
                        {{ evenement.listeEquipe }}
                    </p>
                </div><br>

            </div>
        </div>
    </section>
{% endblock %}