{% extends 'base-back.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <h1>Publication index</h1>
    {% for message in app.flashes('info')%}
    <div class="alert alert-success">
    {{message}}
    </div>
    {%endfor%}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Publication</th>
                <th>Titre</th>
                <th>Nbrcommentaire</th>
                <th>Date</th>
                <th>Image</th>
                <th>Nbrlike</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td>{{ publication.id }}</td>
                <td>{{ publication.publication }}</td>
                <td>{{ publication.titre }}</td>
                <td>{{ publication.nbrcommentaire }}</td>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
                <td><img src="{{ asset('uploads/images/' ~ publication.image ) }}" width="70" height="70"></td>
                <td>{{ publication.nbrlike }}</td>
                <td>
                    <a href="{{ path('app_publication_show', {'id': publication.id}) }}" class=" btn btn-outline-primary bi bi-eye-fill"</a>
                    <a href="{{ path('app_publication_edit', {'id': publication.id}) }}" class=" btn btn-outline-primary bi bi-pencil-square"</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_publication_new') }}" class="btn btn-outline-primary">Create new</a>
        <a href="{{ path('app_publication_index_pdf') }}" class="btn btn-outline-primary">Imprimer</a>
{% endblock %}
