

{% block body %}
<h1>Listes des Publication </h1> 

    {
    <table>
        <div class="card-body">
            <table>

                <tr>
                  <th> Publication</th>
                    <th>Titr e</th>
                    <th> Nbrcommentaire</th>
                    <th>Date</th>
                
                    <th>nbrlike</th>

                </tr>

                   {% for publication in publications %}
                <tr>
                 
                <td>{{ publication.publication }}</td>
                <td>{{ publication.titre }}</td>
                <td>{{ publication.nbrcommentaire }}</td>
                <td>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</td>
            
                <td>{{ publication.nbrlike }}</td>





                </tr>

               {% endfor %}
            </table>

            </form>
        </div>
        </td>
    </table>
{% endblock %}
