{% extends('base-back.html.twig') %}

{% block body%}
    <h1>liste des reclamations</h1>
        <label>Recherche</label>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js
"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<input id="myInput" type="text" placeholder="Search.." class="form-control">
  
   <table border="1" id="myTable">
   <tr> 
   
    <th>ID</th>
    <th>PERSONNE</th>
    <th>TITRE</th>
    <th>DESCRIPTION</th>
    <th>EMAIL SENDER</th>
    <th>Delete</th>
    <th>Update</th>
</tr>
{%for n in reclamation %}
<td>{{n.id}}</td>
<td>{{n.personne.nom}}</td>
<td>{{n.titre}}</td>
<td>{{n.description}}</td>
<td>{{n.emailsender}}</td>
<td><a href="{{ path('deleteReclamation',{'id':n.id} )}}" >Delete</a></td>
<td><a href="{{ path('updateReclamation',{'id':n.id} )}}" >Update</a></td>

<tr >
</tr>
 {%endfor%}
   </table> 
   {% endblock %}