{% extends('base-back.html.twig') %}

{% block body%}
    <h1>liste des reclamations</h1>
    {%for n in reclamation %}
   <form method="post" action="{{ path('recherche1',{'personne.username':n.personne.username} )}}">
    {%endfor%}
        <label>Recherche</label>
        <input type="text" name="search1"><input type="submit" value="Recherche">
    </form> 
   <table border="1">
   <tr> 
   
    <th>ID</th>
    <th>PERSONNE</th>
    <th>TITRE</th>
    <th>DESCRIPTION</th>
    <th>EMAIL SENDER</th>
    <th>Delete</th>
    <th>Update</th>
</tr>
{%for n in reclamation %}
<td>{{n.id}}</td>
<td>{{n.personne.username}}</td>
<td>{{n.titre}}</td>
<td>{{n.description}}</td>
<td>{{n.emailsender}}</td>
<td><a href="{{ path('deleteReclamation',{'id':n.id} )}}" >Delete</a></td>
<td><a href="{{ path('updateReclamation',{'id':n.id} )}}" >Update</a></td>

<tr >
</tr>
 {%endfor%}
   </table> 
   {% endblock %}