<h1>        Nom Client :               {{ pdf.nomPersonne }}      </h1>
<h1>        Email Cient :              {{ pdf.emailPersonne }}       </h1>
<h1>        Address Client :           {{ pdf.addressPersonne }}            </h1>
<h1>        Prix Totale :              {{ pdf.prixTotale }}    Dinars        </h1>
<h1>        discount  :                {{ pdf.discount}}            </h1>
<h1>        Totale after discount :    {{ pdf.prixTotale }}  Dinars          </h1>







