{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPersonne</th>
                <td>{{ personne.idPersonne }}</td>
            </tr>
            <tr>
                <th>NomPrenomPersonne</th>
                <td>{{ personne.nomPrenomPersonne }}</td>
            </tr>
            <tr>
                <th>AdressePersonne</th>
                <td>{{ personne.adressePersonne }}</td>
            </tr>
            <tr>
                <th>EmailPersonne</th>
                <td>{{ personne.emailPersonne }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_personne_index') }}">back to list</a>

    <a href="{{ path('app_personne_edit', {'idPersonne': personne.idPersonne}) }}">edit</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
