{% extends 'base-front.html.twig' %}

{% block title %}Admin access{% endblock %}


{% block breadcrumbs %}
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="#">Blog</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Grab your sword and fight the Horde</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
{% endblock %}

{% block blog_details %}
    <!-- START: Post -->
   
    <div class="nk-blog-post nk-blog-post-single">
        <!-- START: Post Text -->
        <div class="nk-post-text mt-0">
            <div class="nk-post-img">
                <img src="{{ asset('uploads/images/' ~ publication.image ) }}" alt="Grab your sword and fight the Horde">
            </div>
            <div class="nk-gap-1"></div>
            <h1 class="nk-post-title h4">{{ publication.titre }}</h1>
            <div class="nk-post-by">
                <img src="front/assets/images/avatar-2.jpg" alt="Witch Murder" class="rounded-circle" width="35"> by <a href="#">Witch Murder</a>
                <p>{{ publication.date ? publication.date|date('Y-m-d') : '' }}</p> 


                <div class="nk-post-categories">

                    <span class="bg-main-1">Action</span>

                    <span class="bg-main-2">Adventure</span>

                </div>

            </div>
            <div class="nk-gap"></div>
             <div class="nk-gap"></div>
            <blockquote class="nk-blockquote">
                <div class="nk-blockquote-icon"><span>"</span></div>
                <div class="nk-blockquote-content">
                    <p>{{ publication.publication }}</p></div>
                <div class="nk-blockquote-author"><span>les Commentaires</span></div>
            </blockquote>

        


            
           
           

            <div class="nk-gap"></div>
            <div class="nk-post-share">
                <span class="h5">Share Article:</span>

                <ul class="nk-social-links-2">
                    <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                    <li><span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span></li>
                    <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                    <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>

                    <!-- Additional Share Buttons
                        <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fab fa-linkedin"></span></span></li>
                        <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fab fa-vk"></span></span></li>
                    -->
                </ul>
            </div>
        </div>
        <!-- END: Post Text -->


        <!-- START: Comments -->
 {% for commentaire in commentaires %}
           {% set nbr = ( nbr | default(0) ) + 1 %}
       
       
       
        <div id="comments"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">{{nbr}}</span> Commentaire</span></h3>
        <div class="nk-gap"></div>
        <div class="nk-comments">
            <!-- START: Comment -->


            <div class="nk-comment">
                <div class="nk-comment-meta">
                    <img src="front/assets/images/avatar-2.jpg" alt="Witch Murder" class="rounded-circle" width="35"> by <a href="#">Witch Murder</a>
                    <p> {{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</p>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Reply</a>
                </div>
                <div class="nk-comment-text">
                    <p>{{ commentaire.contcommentaire }}</p>
                </div>




                   {% endfor %}



                {% block commentaire %} {%  endblock %}
                
{% block commentaire %} {%  endblock %}
                <!-- START: Comment -->
                <div class="nk-comment">
                    <div class="nk-comment-meta">
                        <img src="front/assets/images/avatar-1.jpg" alt="Hitman" class="rounded-circle" width="35"> by <a href="#">Hitman</a> in 20 September, 2018
                        <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 float-right">Reply</a>
                    </div>
                    <div class="nk-comment-text">
                        <p>To her surprise, she lost sight of her in a moment, and found herself walking in at the front-door again.</p>
                    </div>
                </div>
                <!-- END: Comment -->
            </div>
            <!-- END: Comment -->

            
        </div>
        <!-- END: Comments -->


        

        <!-- START: Reply -->
        <div class="nk-gap-2"></div>
        <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Leave</span> a Reply</span></h3>
        <div class="nk-gap"></div>
        <div class="nk-reply">
            <form action="#" class="nk-form" novalidate="novalidate">
               {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="nk-btn nk-btn-rounded nk-btn-color-main-1" style="float: right; margin-top: 15px; margin-bottom: 15px">{{ button_label|default('Post Comment') }}</button>
        {{ form_end(form) }}
                <div class="nk-form-response-success"></div>
                <div class="nk-form-response-error"></div>
                
            </form>
        </div>
        <!-- END: Reply -->
    </div>
    <!-- END: Post -->
    {% endblock %}

    {% block sidebar %}{% endblock %}
